

head {
    background-color: azure;
    width: device-width;
    height: 20%;
}

.logo {
    padding: 10px;
    height: 100px;
}

table {
    margin: 50px 100px;
    border-block-color: rgb(7, 135, 239);
    border-radius: 5%;
    border-color: coral;
}

a {
    background-color: coral;
    border-radius: 10px;
    width: 5cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10%;
}

.banner {
    background-color:cornflowerblue;
    width: device-width;
    padding: 80px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 45px;
}
div {
    display: indent-block;
}
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}