<!DOCTYPE html>
<html lang = 'en'>
<link rel="stylesheet" href="/static/css/main.css">
<html>
        <h1 class="banner" >Add Your review!</h1>
        <img src="/static/images/icon-lo.png" class="logo">
        <form action="/submit" form="POST">
            Rating:
            <input type="text" id="username" name="username"><br><br>
            Game:
            <input type="text" id="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
        <div><a href="/">Home page</a></div>
        <div><a href="/templates/reviews.html">View others' reviews!</a></div>
</html>