<!DOCTYPE html>
<html lang = 'en'>
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<html>
        <h1 class="banner" >Add Your review!</h1>
        <img src="/static/images/icon-lo.png" class="logo">
        
        
        <form action="/submit" form="POST">
            Rating:
            <input type="text" id="gamerating" name="gamerating"><br><br>
            Game:
            <input type="text" id="gamename" name="gamename"><br><br>
            Comments:
            <input type="text" id="gamecomment" name="gamecomment"><br><br>
            <input type="submit" value="Submit">
        </form>
        <div><a href="/">Home page</a></div><br><br>
        <div><a href="/templates/reviews.html">View others' reviews!</a></div>
        
</html>