<!DOCTYPE HTML>
<html lang="en">
<link rel="stylesheet" href="/static/css/main.css">
    <head>
        <h1 class="banner">Welcome to game opinion!
             <img src="/static/images/icon-lo.png" class="logo">
        </h1>
        
        <div><a href="/templates/login.html">Add your own review! (login first)</a></div><br><br>
        <div><a href="/templates/reviews.html">View others' reviews!</a></div><br><br>
        <div><a href="/templates/register.html">Register your account</a></div>
        
    </head>
    <body>
        <p>This website lets you submit reviews on games, (but only if logged in), view others' reviews on games via search!</p>
    </body>
</html>