<!DOCTYPE HTML>
<html lang="en">
<link rel="stylesheet" href="/static/css/main.css">
    <head>
        <img src="/static/images/icon-lo.png" class="logo"> <h1>Welcome to game opinion!</h1>
        <img src="/static/images/icon-lo.png" class="logo">
    </head>
    <body>
        <p>This website lets you submit reviews on games, (but only if logged in), view others' reviews on games via search!</p>
        <div><a href="/templates/add.html">Add your own review!</a></div>
        <div><a href="/templates/reviews.html">View others' reviews!</a></div>
    </body>
</html>