<!DOCTYPE html>
<html lang = 'en'>
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<html>
         
    <form action="/templates/login.html" method="POST">
        <label>Username: </label>
        <input type="text" id="username" name="username">
        <label>Password: </label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>
    
    
    <h1 class="banner" ><img src="/static/images/icon-nobg.png" class="logo">Please login:</h1>
    
        
    <div><a href="/templates/register.html">Register your account</a></div><br>
    <div><a href="/">Home page</a></div><br>
    <div><a href="/templates/reviews.html">View others' reviews!</a></div>
   
</html>