<!DOCTYPE html>
<html lang = 'en'>
<link rel="stylesheet" href="/static/css/main.css">
<html>
    {% extends "index.html" %}

    {% block content %}
    <h1 class="banner" >Please login:</h1>
    <img src="/static/images/icon-lo.png" class="logo">
        
    <div><a href="/templates/register.html">Register your account</a></div><br><br>
    <div><a href="/">Home page</a></div><br><br>
    <div><a href="/templates/reviews.html">View others' reviews!</a></div>
        
    <form action="/login" form="POST">
        <label>Username: </label>
        <input type="text" id="username" label="username">
        <label>Password: </label>
        <input type="text" id="password" label="password">
        <input type="submit" value="Login">
    </form>
    {% endblock %}
</html>