<!DOCTYPE HTML>
<html lang="en">
<link rel="stylesheet" href="/static/css/main.css">
    <head>
        <img src="/static/images/icon-lo.png" class="logo">
    </head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Rating</th>
                    <th>Game</th>
                    <th>Comments</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for review in table %}
                    <tr>
                        <th>{{ review['uid']      }}</th>
                        <th>{{ review['rating']   }}</th>
                        <th>{{ review['game']     }}</th>
                        <th>{{ review['comment']  }}</th>
                        <th>{{ review['date']     }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div><a href="/">Home page</a></div>
        <div><a href="/templates/login.html">Add your own review!(login first)</a></div>
    </body>
</html>